name: Lab 4 Automated Containerization

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Train model
        run: python scripts/train.py

      - name: Read MSE
        id: mse
        run: |
          echo "MSE=$(jq .mse outputs/results/metrics.json)" >> $GITHUB_ENV

      - name: Compare MSE
        run: |
          python - <<EOF
          import os
          mse = float(os.environ["MSE"])
          best = float(os.environ["BEST_MSE"])
          if mse < best:
              print("Model improved")
          else:
              print("Model not improved")
              exit(1)
          EOF


  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t wine-quality-api .
